@import "palette";
@import "mixins";

body > header {
  @include center;
  position: relative;
  top: auto;
  height: 400px;
  width: 100%;
  background: $yellow;
  color: white;
  flex-direction: column;
  background-image: url('../../images/always-grey.png'); 

  >div {
    >h2 {
      color: $blue;
      padding: 0.5em; 
    }
  
    >img {
      border-radius: 50%;
      width: 256px;
      height: 256px;
    } 
  }
}