body > header {
  height: 400px;
  width: 100%;
  background: #F6FBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/cart-bg.png'); 
}