nav {
  height: 120px;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: right;
}

nav > div {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1em;
  padding: 0.5em 1em;
  z-index: 1;
  background: inherit;
  border-radius: 10px;  
}

nav > div > span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.75em;
}

nav button {
  color: white;
  background: none;
  border: none;
  padding: 0.5em;
  margin-left: auto;
  border-radius: 10px;
  transition-duration: 0.7s;
}

nav button:hover {
  background: rgba(1, 1, 1, 0.233);
}