nav {
  height: 120px;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.75em;
}

nav a {
  color: white;
  text-decoration: none;
  padding-right: 1em;
}