article.tweet {
  border: 4px solid #545149;
  margin-top: 2em;
  font-weight: 200;
}
article.tweet:hover {
  box-shadow: 10px 10px #c5cbe3;
  text-shadow: 1px 0 .2px #545149;
}

article.tweet:hover .handle{
  display: block;
  text-shadow: none;
  color: #c5cbe3;
  font-weight: 400;
}

article.tweet header {
  margin: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header > div {
  display: inherit;
  flex-direction: row;
  align-items: center;
}
article.tweet header > div > p{
  font-weight: 200;
  margin-left: 1em;
}

article.tweet header img {
  width: 75px;
}

article.tweet footer {
  margin: 0.5em;
  border-top: 4px solid #545149;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em 1em;
  font-size: 0.8em;
}

article.tweet p {
  margin: 0;
  font-weight: 300;
  word-wrap: break-word;
}

article.tweet > p {
  margin: 1.5em;
}

article.tweet .controls {
  display: flex;
  flex-direction: row;
}
article.tweet .controls a {
  padding-left: 0.5em;
  color: #4056A1;
}

article.tweet a {
  color: #b8b5ad;
  text-decoration: none;
}

header > a {
  font-size: 1.5em;
  display: none;
}